<footer>

    <div class="info">
        <div>連絡我們:</div>
        <div>周一至週五</div>
        <div>08:00～20:00&nbsp;&nbsp;&nbsp;&nbsp;電話 : (02)3789-7555</div>
        <div>08:30～17:30&nbsp;&nbsp;&nbsp;&nbsp;電話 : (02)2514-1125、(02)2514-1242</div>
    </div>

    <div class="info">
        <div>&nbsp;</div>
        <div>E-Mail&nbsp;:&nbsp;tdcc@tdcc.com.tw</div>
        <div>台北市復興北路363號11樓</div>
        <div>&nbsp;</div>
        <div>&nbsp;</div>
    </div>
 
    <div class="line">
        <hr>
    </div>

    <div class="imageList">
        <img src ="assets/images/icon-footer-001.jpg">
        <img src ="assets/images/icon-footer-002.jpg">
    </div>

</footer>